@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

body {
	background-color: #fefefe;
}

.box {
	background-color: white;
	@include border-radius(5px);
	padding: 15px 15px;
	border: 1px solid grey;
	@include box-shadow(5px 5px 10px 0 #4F4F4F);
}

#dropdownPicture {
	padding: 0px; 
	padding-top: 3px;
}

@import 'login';
@import 'notification';
@import 'projectView';
@import 'profileView';
@import 'editProfileView';
@import 'forgotPassword';
