<h1>All Projects</h1>

<div class="allProjects" id="allProjects">
	<div class="list-group" ng-repeat="project in allProjects">
		<a href="#projects/{{project.ID}}" class="list-group-item active">
			<h4 class="list-group-item-heading">{{project.Name}}</h4>
			<p class="list-group-item-text">{{project.Description}}</p>
			<span class="label label-success" ng-show="!{{project.Approved}}">Open</span>
			<span class="label label-danger" ng-show="{{project.Approved}}">Closed</span>
			<div class="btn-group btn-group-xs" ng-show="moderatorLoggedIn || project.Role == 'Director'">
				<button type="button" class="btn btn-default" ng-show="!{{project.Approved}}" ng-click="closeProject(project.ID)">Close</button>
				<button type="button" class="btn btn-default" ng-show="{{project.Approved}}" ng-click="openProject(project.ID)">Open</button>
				<button type="button" class="btn btn-default" ng-hide="!moderatorLoggedIn" ng-click="deleteProject(project.ID)">Delete</button>
			</div>
		</a>
	</div>
</div>