<h1>Dashboard</h1>

<div class="dashboard" id="belongedProjects">
	<div class="list-group" ng-repeat="project in belongedProjects">
		<a ng-click="projectClick(project, $event)" class="list-group-item active" style="cursor: pointer;">
			<h4 class="list-group-item-heading">{{project.Name}}</h4>
			<p class="list-group-item-text">{{project.Description}}</p>
			<span class="label label-success" ng-show="!{{project.Approved}}">Open</span>
			<span class="label label-danger" ng-show="{{project.Approved}}">Closed</span>
			<div class="btn-group btn-group-xs" ng-show="moderatorLoggedIn || project.Role == 'Director'">
				<button type="button" class="btn btn-default" ng-show="!{{project.Approved}}" ng-click="closeProject(project.ID)">Close</button>
				<button type="button" class="btn btn-default" ng-show="{{project.Approved}}" ng-click="openProject(project.ID)">Open</button>
				<button type="button" class="btn btn-default" ng-show="moderatorLoggedIn" ng-click="deleteProject(project.ID)" ng-disabled="project.Approved==false">Delete</button>
			</div>
		</a>
	</div>
	<a class="btn btn-primary pull-right" ng-href="#createProject">Add project...</a>
</div>