<div class="row projectView">
	<div class="col-md-8">
		<!-- Canvas Panels will be here -->

		<div class="row projectTitle">
			<div class="col-md-12">
				<h1 style="margin-top: 0; margin-bottom: 20px;">{{projectInfo.Name}}</h1>
			</div>
		</div>

		<div class="row canvasPanels">
			
			<div class="col-md-4 canvas" ng-repeat="canvas in canvasList" style="min-width: 390px;"  data-id="{{canvas.ID}}">

				<div class="panel panel-default" >
					<!-- panel heading -->
					<div class="panel-heading">
						<h3 class="panel-title">{{canvas.Title}}</h3>
					</div>
					<!-- panel content -->
					<div class="panel-body" style="height: 400px;">
						<!-- our own canvas directive -->
						<center><pdcanvas canvasid="canvas.ID" manipulation="false"></pdcanvas></center>
						<hr>
						<!-- Description and notes -->
						<label>Description:</label>
						<p>
							{{canvas.Description}}
						</p>
						<label>Notes:</label>
						<p>
							{{canvas.Notes}}
						</p>
					</div>
					<div class="panel-footer" style="text-align: right;">
						<div class="btn btn-danger" ng-click="removeCanvas(canvas.ID)"  ng-hide="!role"><span class="glyphicon glyphicon-trash"></span> Delete</div>
						<a href="#/project/{{projectInfo.ID}}/canvas/{{canvas.ID}}" class="btn btn-primary" ng-hide="!role"><span class="glyphicon glyphicon-edit"></span> Edit</a>
					</div>
				</div>

			</div>

		</div>

	</div>

	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Project Menu</h3>
			</div>
  			<div class="panel-body" ng-hide="!role">
				<div class="row">
					<div class="col-md-12" ng-show="!editname && moderatorLoggedIn">
						<b>Name:</b> {{projectInfo.Name}}
						<button type="button" class="btn btn-sm pull-right" ng-click="editname = true">Edit...</button>
						<br/>
					</div>
					<div class="col-md-12 form-group" ng-show="editname">
						<b>Name:</b>
						<input class="form-control" type="text" ng-change="changeState = true" ng-model="projectInfo.Name"/>
					</div>
					
					<div class="col-md-12" ng-show="!editdescription && moderatorLoggedIn">
						<b>Description:</b> {{projectInfo.Description}}
						<button type="button" class="btn btn-sm pull-right" ng-click="editdescription = true">Edit...</button>
						<br/>
					</div>
					<div class="col-md-12 form-group" ng-show="editdescription">
						<b>Description:</b>
						<input class="form-control" type="text" ng-change="changeState = true" ng-model="projectInfo.Description"/>
					</div>
					
					<div class="col-md-12" ng-show="!editusers && moderatorLoggedIn">
						<b>Users:</b>
						<span ng-repeat="user in users">
							<a ng-href="#/user/{{user.UserID}}">{{user.Name}}</a>
							({{user.Role}})
							{{$last ? '' : ', '}}
						</span>
						<br/>
						<button type="button" class="btn btn-sm pull-right" ng-click="editusers = true">Edit...</button>
					</div>
					<div class="col-md-12" ng-show="editusers">
						<div class="form-group" ng-class="{'has-error': !isUsername(director), 'has-success': isUsername(director)}">
							<label class="control-label">* Director:</label>
							<input class="form-control" type="text" ng-change="changeState = true" ng-model="director" ng-readonly="!moderatorLoggedIn" name="Director" autocomplete="off" required placeholder="Username" typeahead="user for user in allUsers | filter:$viewValue | limitTo:5">
						</div>
						<div class="form-group">
							<label class="control-label">Supervisors:</label>
							<div class="input-group" ng-repeat="supervisor in supervisors track by $index" ng-class="{'has-error': !isUsername(supervisor.Name), 'has-success': isUsername(supervisor.Name)}">
								<input type="text" class="form-control" ng-change="changeState = true" ng-model="supervisor.Name" name="Supervisor" autocomplete="off" placeholder="Username" typeahead="user for user in allUsers | filter:$viewValue | limitTo:5">
								<span class="input-group-btn">
									<button class="btn btn-danger" class="form-control" ng-click="removeSupervisor(supervisor)">
										<span class="glyphicon glyphicon-remove"></span>
									</button><!-- Make this an icon!! -->
								</span>
							</div>
							<button class="btn form-control" ng-click="addSupervisor()">Add Supervisor...</button>
						</div>
						<div class="form-group">
							<label class="control-label">Artists:</label>
							<div class="input-group" ng-repeat="artist in artists track by $index" ng-class="{'has-error': !isUsername(artist.Name), 'has-success': isUsername(artist.Name)}">
								<input class="form-control" type="text" ng-change="changeState = true" ng-model="artist.Name" name="Artist" autocomplete="off" placeholder="Username" typeahead="user for user in allUsers | filter:$viewValue | limitTo:5">
								<span class="input-group-btn">
									<button class="btn btn-danger" class="form-control" ng-click="removeArtist(artist)">
										<span class="glyphicon glyphicon-remove"></span>
									</button><!-- Make this an icon!! -->
								</span>
							</div>
							<button class="btn form-control" ng-click="addArtist()">Add Artist...</button>
						</div>
					</div>
					
					<div class="col-md-12">
						<hr>
						<button class="btn btn-warning" ng-disabled="!changeState" ng-click="saveChanges()">Save</button>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-12">
						<p>Comentary area (can be hidden): list of topics that can be "opened" and show posts and replies (?)</p>
						<p>post new comment with modals (bootstrap)</p>
					</div>
				</div>
			</div>

            <div class="panel-body" ng-show="!role">
                <span class="text-danger">You are not enrolled to this project.</span>
            </div>
		</div>

		<div class="panel panel-default" ng-hide="!role">
			<div class="panel-heading">
				<h3 class="panel-title">New canvas</h3>
			</div>
  			<div class="panel-body">
				<form role="form">
					<div class="form-group">
						<label>Title</label>
						<input type="text" class="form-control" ng-model="newCanvas.title">
					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea class="form-control" rows="2" ng-model="newCanvas.description"></textarea>
					</div>
					<div class="form-group">
						<label>Notes</label>
						<textarea class="form-control" rows="2" ng-model="newCanvas.notes"></textarea>
					</div>
					<div class="form-group">
						<button class="btn btn-success pull-right" style="margin-left: 5px;" ng-click="createCanvas(newCanvas.title, newCanvas.description, newCanvas.notes); newCanvas.title = ''; newCanvas.description = ''; newCanvas.notes = ''">
							<span class="fa fa-plus"></span> Create
						</button>
						<button class="btn btn-danger pull-right" ng-click="newCanvas.title = ''; newCanvas.description = ''; newCanvas.notes = ''">
							<span class="fa fa-recycle"></span> Reset
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>