<div class="row registration">
	<div class="box col-md-offset-4 col-xs-offset-2 col-md-4 col-xs-8">
		<h3 style="margin-top: 0px;">Registration complete</h3>
		<hr>
		<p><strong>Thank you for your registration!</strong></p>
		<p>Your registration has to be processed by an administrator. Until then your account is in "suspended" mode. You will receive an e-mail as soon your account is activated.</p>
		<hr>
		<div class="buttons">
			<a class="btn btn-success btn-block" href="#/login">Go back</a>
		</div>
	</div>
</div>